.todo-card {
    margin: 20px auto;
    max-width: 600px;
    text-align: center; /* Centra el texto dentro del card */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    
  
    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }
  
  .header-container {
    padding: 16px;
    border-bottom: 1px solid #eee;
    text-align: center; /* Centra el contenido del header */
  }
  
  .header-content {
    display: flex;
    flex-direction: column; /* Asegura que el título y el subtítulo se coloquen en columnas */
    align-items: center; /* Centra horizontalmente el contenido */
  }
  
  .date-container {
    font-size: 0.9em;
    color: #555;
  }
  
  .people-container {
    margin-top: 10px;
    text-align: center; /* Centra el texto de las personas asociadas */
  }
  
  .skills-list {
    list-style-type: none; /* Quita los puntos de la lista */
    padding-left: 0;
    margin-top: 5px;
  }
  
  .small-dropdown {
    max-width: 150px;
    margin: 10px auto; /* Centramos el dropdown con un margen superior */
  }
  
  .status-container {
    margin-top: 20px;
    text-align: center; /* Centra el texto del status */
  }
  
  .actions-container {
    display: flex;
    justify-content: center; /* Centra el botón eliminar */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .small-dropdown {
    max-width: 100px; /* Cambia este valor para ajustar el ancho del dropdown */
    margin: 10px auto; /* Mantén el centrado */
    font-size: 0.85em; /* Reduce el tamaño de fuente del dropdown */
  }
  
  .status-container {
    margin-top: 20px;
    text-align: center; /* Centra el texto del status */
  }
  